<hr>
<h1>Directives Works!</h1>
<p>NgStyle , NgClass,NgModel</p>

<p [ngStyle]="{'color':'tomato','font-size':'30px'}">
  Hi Friends , I am directive of the Angular.io
</p>

<div>
  <div *ngFor="let member of user" ngClass="{'test':member.userName === 'Amar'}">
    {{member.userName}}
  </div>
</div><br>

<!-- Example of Dependency Injection and Service class  -->
<u><p>DI and Service : </p></u>
<button type="button" (click)="day()">CLICK HERE TO KNOW ABOUT TODAY</button><br>
<button type="button" (click)="log(message)">Login message</button>