<form [formGroup]="FormDemo">
  <h1>Reactive Forms Example</h1>

  <div class="name">
    <label>Name:</label>
    <input type="text" formControlName="name">
    <div *ngIf="submitted&&form['name'].errors">
      <p *ngIf="form['name'].errors['required']">Please enter  UserName:</p>
      <p *ngIf="form['name'].errors['name']">Please enter valid UserName:</p>
    </div>
  </div><br>

  <div class="mail">
    <label>Emailid:</label>
    <input type="email" formControlName="mail">
    <div *ngIf="submitted&&form['mail'].errors">
      <p *ngIf="form['mail'].errors['required']">please enter mailID</p>
      <p *ngIf="form['mail'].errors['mail']">Please enter valid mailID</p>
    </div>
  </div><br>
  
  <div class="password">
    <label>Password:</label>
    <input type="password" formControlName="password">
    <div *ngIf="submitted&&form['password'].errors">
      <p *ngIf="form['password'].errors['required']">please enter Password</p>
      <p *ngIf="form['password'].errors['password']">Please enter valid Password</p>
    </div>
  </div><br>

  <div class="cpass">
    <label>Conform Password:</label>
    <input type="password" formControlName="cpassword"  value="Amar">
    <div *ngIf="submitted&&form['cpassword'].errors">
      <p *ngIf="form['cpassword'].errors['required']">please enter Conform Password</p>
      <p *ngIf="form['cpassword'].errors['cpassword']">Please enter valid Conform Password</p>
    </div>
  </div><br>

  <button type="button" class="button" (click)="submitForm()" [disabled]="!FormDemo.valid">SUBMIT</button>

  <!-- 'SetValue' button can be used as reset button in the forms -->
  <button type="button" (click)="setValue()">SETvALUE</button>

  <!-- 'patchValue' button  -->
  <button type="button" (click)="patchValue()">PATCHvALUE</button>

  <!-- 'Remove Control' button -->
  <button type="button" (click)="removeControl('name')">RemoveControl</button>

  <!-- 'Contains' button -->
  <button type="button" (click)="contains('name')">Contains</button>

  <!-- 'Reset' Button -->
  <button type="button" (click)="reset()">Reset</button>

  <!-- 'AddControl' Butteon 
  <div [formGroup]="formz">
    Disabled:{{formz.disabled}}
    <div *ngIf="!formz.controls.test">
      <button (click)="addControl()">AddControl</button>
    </div>
    <input *ngIf="formz.controls.test" formControlName="test" style="display:block ;">
  </div> -->

  <!-- Status of the Form is used! -->
  <p>Form Status : {{FormDemo.status}}</p><br>
  <p>Form Values : {{FormDemo.value|json}}</p>
  <p>Form Value using getRawValue : {{this.FormDemo.getRawValue()|json}}</p>
  
</form>

<hr>
<p>Replacing a form control value</p><br>

<!-- <label for="name">Name:</label>
<input id="name" type="text" [formcontrol]="name"> -->