<!-- <hr>
<h1>{{title}}</h1>
<h2>{{collector.Firstname}}</h2>
<h3>{{collector.Lastname}}</h3>
<br>
<button (click)="googleAssit()">Click here to greet</button>
<app-product></app-product>
<hr>
<br>
<app-template></app-template>
<app-directives></app-directives>

<button><a [routerLink]="['/oneroute']" routerLinkActive="router-link-active">ONE ROUTING</a></button>
<button><a [routerLink]="['/tworoute']" routerLinkActive="router-link-active">TWO ROUTING</a></button>
<button><a [routerLink]="['/threeroute']" routerLinkActive="router-link-active">THREE ROUTING</a></button>
<router-outlet></router-outlet> -->
<app-forms></app-forms>