<hr>
<hr><u><strong>Example of Interpolation : </strong></u>
<!-- Example of Interpolation -->
<h1>{{title}}</h1> 
<h2>{{collector.Firstname}}</h2>
<h3>{{collector.Lastname}}</h3> 
<!-- Example of TemplateURL -->
<hr><u><strong>Example of TemplateURL : </strong></u>
<app-templateURL></app-templateURL>
<hr>
<br>
<button (click)="googleAssit()">Click here to greet</button>
<app-product></app-product>
<hr>
<br>
<app-template></app-template>
<app-directives></app-directives>

<button><a [routerLink]="['/oneroute']" routerLinkActive="router-link-active">ONE ROUTING</a></button>
<button><a [routerLink]="['/tworoute']" routerLinkActive="router-link-active">TWO ROUTING</a></button>
<button><a [routerLink]="['/threeroute']" routerLinkActive="router-link-active">THREE ROUTING</a></button>
<router-outlet></router-outlet> 

<!-- <app-forms></app-forms> -->

<!-- <app-dependency></app-dependency> -->

<!-- <app-templateDrivenForm></app-templateDrivenForm> -->

<!-- <app-jsonserver></app-jsonserver> -->

<!-- <app-svg></app-svg> -->

<!-- <h1>WebWorker</h1>
<div>
    <a (click)="find10thPrimeNumber()">Click here for find prime number</a>
    <div>The 10 prime number is {{prime10}}</div><br>
    <a (click)="find1000thPrimeNumber()">Click for 10000th prime number</a>
    <div>The 10000th prime number is {{prime10000}}</div>
</div> -->

<!-- <h1>{{title}}</h1>
<app-encapsulation></app-encapsulation> -->

<!-- <h1 i18n>  Localization Demo in Angular using i18n</h1>
<h3 i18n="@@myName">  Hello, My name is Amar</h3>
<p>This text will remain same in all languages</p>
<hr /> -->

<!-- <app-lifecycle></app-lifecycle> -->

<!-- <app-jsonserver></app-jsonserver> -->


<!-- ////////////////////////// Example of OnChanges in LifeCycle Hooks  //////////////// -->

<!-- <hr>
<div>
    <u><strong><p>Example of OnChanges in LifeCycleHooks : </p></strong></u>
    <input type="text" [(ngModel)]="enterValue" id="clear"><br>
    <app-onChanges [simpleInput]="enterValue"></app-onChanges>
    <button onclick="document.getElementById('clear').value=''">Reset</button>
</div>
<hr> -->

<!-- ////////////////////   Example of Single-slot content Projection  ////////////////////// -->

<app-projection>
    <p>Hello Single slot Projection Welcome!</p>
</app-projection>